@import "./variables.css";

/* === Default styles === */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--default-font);
  background-color: var(--custom-white);
  overflow-x: hidden;
}

a {
  display: inline-block;
  color: inherit;
  text-decoration: none;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2rem;
}

button,
input,
textarea {
  font-family: inherit;
  font-size: 16px;
}

.container {
  max-width: 1240px;
  height: inherit;
  margin: 0 auto;
}

.list-reset {
  list-style-type: none;
}
