@media only screen and (max-width: 426px) {
  /* === Default styles === */

  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.75rem;
  }

  h3 {
    font-size: 1.375rem;
  }

  .container {
    max-width: 90vw;
  }

  .btn {
    padding: 10px 22px;
  }

  /* === Header === */
  .header-content {
    padding: 16px 0;
  }

  .header-content .logo-header img {
    width: 90px;
    height: auto;
  }

  .header-content .ham-menu {
    width: 32px;
    height: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .header-content .ham-menu:hover {
    cursor: pointer;
  }

  .header-content .ham-menu .menu-item {
    width: 24px;
    height: 2px;
    margin-bottom: 4px;
    background-color: var(--custom-black);
  }

  .header-content .ham-menu .menu-item:last-child {
    margin-bottom: 0;
  }

  .header-content nav {
    position: fixed;
    top: 64px;
    right: 0;
    z-index: 10;
    width: 100vw;
    height: calc(100vh - 64px);
    padding: 2rem 1rem 0;
    background-color: var(--custom-white);
    transform: translateX(120%);
  }

  .header-content nav ul {
    flex-direction: column;
    align-items: flex-start;
  }

  .header-content nav ul > li {
    position: relative;
    font-size: 28px;
    overflow-y: hidden;
  }

  .header-content nav ul > li:not(:last-child) {
    margin-right: 0;
    margin-bottom: 12px;
  }

  .header-content nav a {
    flex-direction: row-reverse;
  }

  .header-content nav a::after {
    width: 8px;
    height: 8px;
    margin-right: 16px;
  }

  /* === Hero section === */
  #hero-section {
    height: calc(100vh - 64px);
    background: url("./assets/hero-img-mobile.svg") no-repeat center center;
    background-size: cover;
  }

  .hero-content {
    align-items: center;
  }

  .hero-content .hero-text {
    width: auto;
    margin-bottom: 48px;
    padding-right: 0;
    border-radius: 0;
    text-align: center;
    background-color: transparent;
  }

  .hero-content .hero-text .hero-heading {
    margin-bottom: 20px;
  }

  .hero-content .hero-text .hero-subheading {
    font-size: 18px;
    font-weight: normal;
  }

  .hero-content .hero-cta {
    flex-direction: column;
  }

  .hero-content .hero-cta .btn {
    margin-right: 0;
    margin-bottom: 32px;
  }

  /* === Pricing section === */
  #pricing-section {
    background-image: url("./assets/pricing-img-mobile.svg");
  }

  .pricing-cards {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    column-gap: 0;
    row-gap: 2.5rem;
    margin-block: 4rem;
  }

  .pricing-cards .card-header .title {
    font-size: 20px;
  }

  .pricing-cards .card-header .price {
    font-size: 22px;
  }

  .pricing-cards .card-body .feature-list > li {
    font-size: 0.9375rem;
  }

  /* === Contact section === */
  .contact-content {
    padding: 3rem 0;
    row-gap: 62px;
  }

  .contact-buttons {
    flex-direction: column;
    row-gap: 2rem;
    column-gap: 0;
  }

  /* === Footer === */
  footer {
    padding: 36px 0;
  }

  .footer-content {
    flex-direction: column;
    align-items: center;
    justify-content: initial;
    row-gap: 40px;
  }

  .footer-text {
    flex-direction: column;
    row-gap: 16px;
    column-gap: 0;
    text-align: center;
  }

  .footer-content .social-links > ul > li > a {
    transition: none;
  }

  .footer-content .social-links > ul > li > a:hover {
    transform: none;
  }
}
